# App1 production values
appName: app2

replicaCount: 3

image:
  # Update repository to reflect Artifact Registry
  repository: us-central1-docker.pkg.dev/poc-070424/my-docker-repo/app2
  pullPolicy: IfNotPresent
  # The tag will be overridden by the workflow's GITHUB_SHA, but you can set a default here
  tag: "main" # Or "latest", depending on your preference for a default

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

autoscaling:
  enabled: true
  minReplicas: 3
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70

configMap:
  enabled: true
  data:
    APP_ENV: "production"
    LOG_LEVEL: "info"
